<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/assets/imagenes/5.jpg" alt="Logo de la tienda">
      <h2>QueRopero</h2>
    </div>

    <div class="footer-links">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink="/contacto">Contacto</a>
      <a routerLink="/ayuda">Ayuda</a>
    </div>

    <div class="footer-social">
      <a href=""><img src="/assets/imagenes/fc.jpg" alt="Facebook"></a>
      <a href="https://www.instagram.com/ds.shop.mde/"><img src="/assets/imagenes/ig.jpg" alt="Instagram"></a>
      <a href="https://www.tiktok.com/@ds_shop439"><img src="/assets/imagenes/tik (1).jpg" alt="TikTok"></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 DarkShop - Todos los derechos reservados</p>
  </div>
</footer>
